.login-button{
    display:flex;
    justify-content: flex-end;
    margin:20px

}
.nav-logo{
    display: flex;
    justify-content: center;
}

.nav-menu{
    display: flex;
    justify-content: center;
}

.nav-menu-list{
    display: flex;
}
.nav-menu-list li{
    margin: 10px;
    list-style-type: none;
}
.nav-search{
    position: absolute;
    right: 5px;
    padding: 5px;
    margin-left: 20px;
}
.nav-search input{
    margin-left:5px;
}


